version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: monthly
  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: "monthly"
