site_name: pgserviceparser documentation
repo_url: https://github.com/opengisch/pgserviceparser
repo_name: opengisch/pgserviceparser
theme:
  name: "material"
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
plugins:
  - mkdocstrings
markdown_extensions:
  - admonition
  - codehilite
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - API:
      - Reference: api.md
      - Exceptions: exceptions.md
      - PGServiceParserWidget: pgserviceparser_widget.md
  - GUI: gui.md
