site_name: pgserviceparser documentation

theme:
  name: "material"

plugins:
  - mkdocstrings

markdown_extensions:
  - admonition
  - codehilite

nav:
  - Home: index.md
  - API:
      - Reference: api.md
      - Exceptions: exceptions.md
  - GUI: gui.md
