name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Get source code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Install pgserviceparser with test dependencies
        run: pip install -e ".[gui]"

      - name: Run Python tests
        env:
            PGSERVICEPARSER_SRC_DIR: ${{ github.workspace }}
        run: |
          python -m unittest test.test_lib

      - name: Run GUI tests
        env:
            PGSERVICEPARSER_SRC_DIR: ${{ github.workspace }}
            QT_QPA_PLATFORM: offscreen
        run: |
          python -m unittest test.test_gui
